/* font-family: 'Noto Sans JP', sans-serif; */
html, body {
    min-height: 100% !important;
    height: 100%;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
  background: url(./assets/background-image.jpeg) no-repeat center center fixed;
  background-size: cover;
}

header {
  text-align: center;
  margin-top: 30px;
}

span {
  font-size: 50px;
  background: -webkit-linear-gradient(red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section {
  display: flex;
  justify-content:space-around;
  align-items: center;
  height: 100%;
}

p {
  margin: 0;
  vertical-align:top;
  text-align: center;
  padding: 10px 0 0 140px;
}

.player-img {
  height: 300px;
  width: 200px;
  margin-left: 140px;
}

#left-img {
  box-shadow: 0 0 8px 4px red;
}

#right-img {
  box-shadow: 0 0 8px 4px green;
}

#game-img {
  padding-bottom: 30px;
}

.hidden {
  display: none;
}
