html, body {
    min-height: 100% !important;
    height: 100%;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
  background: url(./assets/background-image.jpeg) no-repeat center center fixed;
  background-size: cover;
}

header {
  text-align: center;
  margin: 30px 30px 0 0;
}

h2 {
  font-size: 44px;
  margin-bottom: 10px;
}

span {
  font-size: 50px;
  background: -webkit-linear-gradient(red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  margin: 60px 40px 0 40px;
  height: 40px;
  width: 200px;
}

section {
  display: flex;
  justify-content:space-around;
  align-items: center;
  height: 100%;
}

p {
  margin: 0;
  vertical-align:top;
  text-align: center;
  padding: 10px 0 0 140px;
}

table {
  margin-bottom: 50px;
}

tr {
  text-align: center;
  height: 30px;
}

th {
  width: 100px;
}

.player-img {
  height: 300px;
  width: 200px;
  margin-left: 140px;
}

#left-img {
  box-shadow: 0 0 8px 4px red;
}

#right-img {
  box-shadow: 0 0 8px 4px green;
}

#game-img {
  padding-bottom: 30px;
}

.hidden {
  display: none !important;
}

.welcome-container {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
}

#welcome-rules {
  padding: 0;
  line-height: 3;
  font-weight: bolder;
  background-image: linear-gradient(to left, violet, indigo, blue, green, orange, red);
  -webkit-background-clip: text;
  color: transparent;
}


#top-row {
  font-size: 36px;
}

.player-buttons {
  font-size: 26px;
}

#left-buttons-inst {
  color: red;
}

#right-buttons-inst {
  color: blue;
}

#clear-button {
  color: black;
  border-color: #3498db;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  border-radius: 10px;
}

#clear-button:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  border-radius: 10px;
}

#begin-button {
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

#begin-button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#begin-button:active {
    color: #000
}

#begin-button:active:after {
    background: transparent;
}

#begin-button:hover:before {
    opacity: 1;
}

#begin-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
